.chip {
  border-radius: 20px;
  background-color: var(--base-no-color);
  padding: 7px 14px;
  display: inline-block;
  font-weight: bold;
}

.chip:hover {
  transform: scale(110%);
  cursor: pointer;
}

.chip.not-frequent {
  background-color: #c4e2c4;
}

.chip.frequent {
  background-color: #c4c4e2;
}

.chip.recent {
  opacity: 0.5;
}

.chip.frequent.selected, .chip.not-frequent.selected, .chip.selected {
  background-color: var(--base-color);
}
